@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;


.c-breadcrumb-wrap {
 background: #e8e8e8; 
}

.c-breadcrumb {
 max-width: 88rem;
 width: 100%;
 margin: 0 auto; 
 display: flex;
 align-items: center;
 flex-wrap: wrap; 
 color: #000;
 font-size: 1.6rem; 
 line-height: calc(33 / 16); 
 @include sp {  
  max-width: none;
  width: 100%;  
  display: block !important;
  line-height: 1.44;
  padding-block: 0rem 0.6rem;
  padding-inline: 2rem;  
 }
}

.c-breadcrumbs-sign { 
 //background-color: yellow;
 margin: 0 1.9rem; 
}

.c-breadcrumbs-text span {
 //background-color: aqua;
 transition: opacity .4s;
 display: inline-block;
 padding-block: 1rem 0.7rem; 
 @include sp {
  padding-block: 0.6rem 0; 
  // padding-block: 6px 0px; 
 }
}

.c-breadcrumbs-text span:hover {
  opacity: 0.5;
}

.c-breadcrumb-wrap .c-breadcrumb .c-breadcrumbs-text.current-item {
 padding-block: 0.9rem 0.8rem; 
 @include sp {
  padding-block: 0.6rem 0; 
  // padding-block: 6px 0px; 
 }
}

