@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;


.c-breadcrumb-wrap {
 background: #e8e8e8; 
}

.c-breadcrumb {
 max-width: 88rem;
 width: 100%;
 margin: 0 auto; 
 display: flex;
 align-items: center;
 flex-wrap: wrap; 
 color: #000;
 font-size: 1.6rem; 
 line-height: calc(33 / 16); 
 @include sp {  
  max-width: none;
  width: 100%;  
  display: block !important;
  line-height: 1.44;
  padding-block: 0rem 0.6rem;
  padding-inline: 2rem;  
 }
}

.c-breadcrumbs-sign { 
 //background-color: yellow;
 margin: 0 1.9rem; 
}

.c-breadcrumbs-text span {
 background-color: aqua;
 transition: opacity .4s;
 display: inline-block;
 padding-block: 0.9rem 0.8rem; 
 @include sp {
  padding-block: 0.6rem 0; 
  // padding-block: 6px 0px; 
 }
}

.c-breadcrumbs-text span:hover {
  opacity: 0.5;
}

.c-breadcrumb-wrap .c-breadcrumb .c-breadcrumbs-text.current-item {
 padding-block: 0.9rem 0.8rem; 
 @include sp {
  padding-block: 0.6rem 0; 
  // padding-block: 6px 0px; 
 }
}



// // .c-breadcrumb {
// //  display: flex;
// //  flex-wrap: wrap; 
// // }

//  .c-breadcrumbs-text span {
//   @include sp {
//    display: inline-block;
//    padding-block: 10px;
//   }
//  }

//  .c-breadcrumb {
//   padding: 17px 30px 14px;
//   display: flex;
//   align-items: center;
//   flex-wrap: wrap;
// //   width: 100%;
// //   max-width: 940px;
// //   height: 100%;
// //   margin: 0 auto;  
// //   box-sizing: border-box;
// @include sp {   
//  display: block;
//     padding: 0 20px 0;
// //     box-sizing: border-box;
// //     flex-wrap: wrap;
// //     line-height: 1.3;
//   }  
// }

// // Breadcrumb NavXTの設定の「パンくずの区切り」
// // に、pタグを書いてる（notionに書いといた）
// // pタグ
// .c-breadcrumbs-sign { 
//  // padding-block: 0px 1px;
//  padding-block: 0 0.1rem;
//  padding-inline: 2rem; 
// }

// .c-breadcrumb span {
//  display: inline-block;
//  transition: opacity .4s;  
//  padding: 0;
// }

// .c-breadcrumb a {
//  display: inline-block;
//  transition: opacity .4s; 
//  padding: 0;
// }

// .c-breadcrumb-wrap .c-breadcrumb .post.post-result.current-item {
//  display: inline-block;
//  background-color: yellow;
// }

// .c-breadcrumb-wrap {
//  width: 100%;
//  background: #e8e8e8; 
//  // padding: 6.5px 20px;
 
// }

// .c-breadcrumb {
// max-width: 88rem;
// width: 100%;
// //  background: #e8e8e8; 
// //  display: flex;
// //  align-items: center;
// //  column-gap: 2rem; 
// //  flex-wrap: wrap; 
// padding-inline: 10rem 10rem;
// //  margin: 0 auto; 
// font-size: 1.6rem; 
//  @include sp {
//  max-width: none;
//  line-height: 1.3;
//  // padding: 0.73rem 2rem 0.7rem;
//  }
// }

// .c-breadcrumb__text {
//  color: #000;
//  font-size: 1.6rem; 
//  }

// .c-breadcrumb a:first-of-type {
//  padding: 0;
// }

// .c-breadcrumb a:hover {
//  opacity: 0.5;
// }

// .c-breadcrumb__text {
//  color: #000;
//  font-size: 1.6rem;
//  line-height: calc(33 / 16); 
//  }

// .c-breadcrumb__text--1-line { 
//  //padding-block: 9px 8px;
//  padding-block: 0.9rem 0.8rem;
//  @include sp {
//   // padding-block: 2px 1px;
//   padding-block: 0rem 0rem; 
//  }
// }

// .c-breadcrumb__text--2-lines { 
//  //padding-block: 18px 16px;
//  padding-block: 1.8rem 1.6rem;
//  line-height: 1;
//  @include sp {
//   // padding-block: 10px 5px;
//   //padding-block: 11px 6px;
//   padding-block: 1.1rem 0.6rem;
//   line-height: 1;
//  }
// }

// .c-breadcrumb__text--blog-details {
//   @include sp {
//   // padding-block: 5px 7px; 
//   padding-block: 0.5rem 0.7rem; 
//   line-height: 1;
//  }
// }

// .c-breadcrumb__text--2-lines-result-details { 
//  //padding-block: 18px 16px;
//  padding-block: 1.8rem 1.6rem;
//  line-height: 1;
//  @include sp { 
//   // padding-block: 7px 0px; 
//   padding-block: 0.9rem 0; 
//   line-height: 1;   
//  }
// }

// .c-breadcrumb__text--result-details {
//  @include sp {   
//   //padding-block: 4px 2px;  
//   padding-block: 0.4rem 0.2rem;  
//   line-height: 1.5;  
// }
// }



// .c-breadcrumbs {
//  background: variable.$gray;
//  &-text-area {
//      padding: 17px 30px 14px;
//      display: flex;
//      width: 100%;
//      max-width: 940px;
//      height: 100%;
//      margin: 0 auto;
//      align-items: center;
//      flex-wrap: wrap;
//      box-sizing: border-box;
//  }
//  &-text {
//      font-size: 1.6rem;
//      text-decoration: none;
//      color: #000;
//  }
//  &-sign {
//      font-size: 1.6rem;
//      margin: 0 19px;
//  }
// }


// .c-breadcrumb-wrap {
//  background: #e8e8e8; 
// }

// .c-breadcrumbs {
//  padding: 17px 30px 14px;
//  display: flex;
//  width: 100%;
//  max-width: 940px;
//  height: 100%;
//  margin: 0 auto;
//  align-items: center;
//  flex-wrap: wrap;
//  box-sizing: border-box;
// }

// .c-breadcrumbs-text {
//  font-size: 1.6rem;
//  text-decoration: none;
//  color: #000;
// }

// .c-breadcrumbs-sign {
//  font-size: 1.6rem;
//  margin: 0 19px;
// }

// @media screen and (max-width:767px) {
// .c-breadcrumbs {
//  padding: 9px 20px;
//  box-sizing: border-box;
//  flex-wrap: wrap;
//  line-height: 1.3;
//  background-color: yellow;
// }
// }


// .c-breadcrumb-wrap {
//  background: #e8e8e8; 
//  @include sp {
//   font-size: 1.6rem;
//   line-height: calc(33 / 16);
// }
// }

// .c-breadcrumb {
//  max-width: 88rem;
//  width: 100%;
//  @include sp {
//    max-width: none;
//    width: 100%;
//    padding-inline: 2rem;
//  }
// }

// .c-breadcrumb > span {
//  padding-inline: 0 2rem;
// }

// .homec-breadcrumbs > span {

//   @include sp {
//     font-size: 1.6rem;
//     line-height: calc(33 / 16);
//     padding-inline: 2rem;
//   }
//  }




// .c-breadcrumb-wrap {
//  background: #e8e8e8; 
// }

// .c-breadcrumb {
//  max-width: 88rem;
//  width: 100%;
//  margin: 0 auto;  
//  padding-block: 9px 8px;
//  display: flex;
//  align-items: center;
//  flex-wrap: wrap; 

//  color: #000;
//  font-size: 1.6rem; 
//  line-height: calc(33 / 16);
//  @include sp {
//   max-width: none;
//   width: 100%;
//   padding-inline: 2rem;
//   // padding-block: 9px 8px;
//   padding-block: 0.9rem 0.7rem;
//   line-height: calc(20 / 16);
//  }
// }

// // Breadcrumb NavXTの設定の「パンくずの区切り」
// // に、pタグを書いてる（notionに書いといた）
// // pタグ
// .c-breadcrumbs-sign { 
//  display: inline-block;
//  // padding-block: 0px 1px;
//  padding-block: 0 0.1rem;
//  padding-inline: 2rem; 
// }

// .c-breadcrumbs-sign:last-of-type {
//  display: inline;
// }

// .c-breadcrumb span > span {
//  display: inline;
//  transition: opacity .4s;
// }

// .c-breadcrumb a {
//  display: inline-block;
//  transition: opacity .4s; 
//  padding: 0;
// }

// .c-breadcrumb-wrap .c-breadcrumb .post.post-result.current-item {
//  display: inline-block;
//  background-color: yellow;
// }

// .c-breadcrumb-wrap {
//  width: 100%;
//  background: #e8e8e8; 
//  // padding: 6.5px 20px;
 
// }

// .c-breadcrumb {
// max-width: 88rem;
// width: 100%;
// //  background: #e8e8e8; 
// //  display: flex;
// //  align-items: center;
// //  column-gap: 2rem; 
// //  flex-wrap: wrap; 
// padding-inline: 10rem 10rem;
// //  margin: 0 auto; 
// font-size: 1.6rem; 
//  @include sp {
//  max-width: none;
//  line-height: 1.3;
//  // padding: 0.73rem 2rem 0.7rem;
//  }
// }





// .c-breadcrumb__text {
//  color: #000;
//  font-size: 1.6rem; 
//  }

// .c-breadcrumb a:first-of-type {
//  padding: 0;
// }

// .c-breadcrumb a:hover {
//  opacity: 0.5;
// }

// .c-breadcrumb__text {
//  color: #000;
//  font-size: 1.6rem;
//  line-height: calc(33 / 16); 
//  }

// .c-breadcrumb__text--1-line { 
//  //padding-block: 9px 8px;
//  padding-block: 0.9rem 0.8rem;
//  @include sp {
//   // padding-block: 2px 1px;
//   padding-block: 0rem 0rem; 
//  }
// }

// .c-breadcrumb__text--2-lines { 
//  //padding-block: 18px 16px;
//  padding-block: 1.8rem 1.6rem;
//  line-height: 1;
//  @include sp {
//   // padding-block: 10px 5px;
//   //padding-block: 11px 6px;
//   padding-block: 1.1rem 0.6rem;
//   line-height: 1;
//  }
// }

// .c-breadcrumb__text--blog-details {
//   @include sp {
//   // padding-block: 5px 7px; 
//   padding-block: 0.5rem 0.7rem; 
//   line-height: 1;
//  }
// }

// .c-breadcrumb__text--2-lines-result-details { 
//  //padding-block: 18px 16px;
//  padding-block: 1.8rem 1.6rem;
//  line-height: 1;
//  @include sp { 
//   // padding-block: 7px 0px; 
//   padding-block: 0.9rem 0; 
//   line-height: 1;   
//  }
// }

// .c-breadcrumb__text--result-details {
//  @include sp {   
//   //padding-block: 4px 2px;  
//   padding-block: 0.4rem 0.2rem;  
//   line-height: 1.5;  
// }
// }



// .c-breadcrumbs {
//  background: variable.$gray;
//  &-text-area {
//      padding: 17px 30px 14px;
//      display: flex;
//      width: 100%;
//      max-width: 940px;
//      height: 100%;
//      margin: 0 auto;
//      align-items: center;
//      flex-wrap: wrap;
//      box-sizing: border-box;
//  }
//  &-text {
//      font-size: 1.6rem;
//      text-decoration: none;
//      color: #000;
//  }
//  &-sign {
//      font-size: 1.6rem;
//      margin: 0 19px;
//  }
// }


// .c-breadcrumb-wrap {
//  background: #e8e8e8; 
// }

// .c-breadcrumbs {
//  padding: 17px 30px 14px;
//  display: flex;
//  width: 100%;
//  max-width: 940px;
//  height: 100%;
//  margin: 0 auto;
//  align-items: center;
//  flex-wrap: wrap;
//  box-sizing: border-box;
// }

// .c-breadcrumbs-text {
//  font-size: 1.6rem;
//  text-decoration: none;
//  color: #000;
// }

// .c-breadcrumbs-sign {
//  font-size: 1.6rem;
//  margin: 0 19px;
// }

// @media screen and (max-width:767px) {
// .c-breadcrumbs {
//  padding: 9px 20px;
//  box-sizing: border-box;
//  flex-wrap: wrap;
//  line-height: 1.3;
//  background-color: yellow;
// }
// }