@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;


.c-breadcrumb-wrap {
 background: #e8e8e8; 
}

.c-breadcrumb {
 max-width: 88rem;
 width: 100%;
 background: #e8e8e8; 
 display: flex;
 align-items: center;
 column-gap: 2rem; 
 flex-wrap: wrap; 
 // padding-inline: 10rem 10rem;
 margin: 0 auto; 
 @include sp {
  width: 100%;  
  padding-inline: 2rem;
 }
}

.c-breadcrumb a {
 transition: opacity .4s;
}

.c-breadcrumb a:hover {
 opacity: 0.5;
}

.c-breadcrumb__text {
 color: #000;
 font-size: 1.6rem;
 line-height: calc(33 / 16); 
 }

.c-breadcrumb__text--1-line { 
 //padding-block: 9px 8px;
 padding-block: 0.9rem 0.8rem;
 @include sp {
  // padding-block: 2px 1px;
  padding-block: 0.3rem 0rem; 
 }
}

.c-breadcrumb__text--2-lines { 
 //padding-block: 18px 16px;
 padding-block: 1.8rem 1.6rem;
 line-height: 1;
 @include sp {
  // padding-block: 10px 5px;
  //padding-block: 11px 6px;
  padding-block: 1.1rem 0.6rem;
  line-height: 1;
 }
}

.c-breadcrumb__text--blog-details {
  @include sp {
  // padding-block: 5px 7px; 
  padding-block: 0.5rem 0.7rem; 
  line-height: 1;
 }
}

.c-breadcrumb__text--2-lines-result-details { 
 //padding-block: 18px 16px;
 padding-block: 1.8rem 1.6rem;
 line-height: 1;
 @include sp { 
  // padding-block: 7px 0px; 
  padding-block: 0.9rem 0; 
  line-height: 1;   
 }
}

.c-breadcrumb__text--result-details {
 @include sp {   
  //padding-block: 4px 2px;  
  padding-block: 0.4rem 0.2rem;  
  line-height: 1.5;  
}
}