@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.c-btn {  
 color: #fff;   
 background-color: $color-red;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-inline: auto;
 border: 0.1rem solid transparent; //初期状態では透明な枠線
 transition: border-color 0.4s, color 0.4s, background-color 0.4s;
 cursor: pointer;
}

.c-btn:hover {
 border: 0.1rem solid $color-red;     
 color: $color-red;
 background-color: #fff;
 } 

.c-btn--header {
  width: 15rem;
  height: 4.5rem;   
  font-size: 1.5rem;  
  font-weight: 600;    
  line-height: calc(33 / 15); 
  padding-top: 0.1rem;  
  margin-left: 3.3rem;  
  // transition: all .4s; 
 }

.c-btn--fixed {    
  width: 30rem;
  height: 6rem;   
  font-size: 2rem;    
  font-weight: 600;  
  line-height: calc(33 / 20);
  padding-top: 0.3rem;  
  letter-spacing: 00.2em;
  position: fixed;
  bottom: 0;
  right: 0;    
  opacity: 0;
  visibility: hidden;     
  @include sp {   
    width: 33.5rem;
    right: 2rem;
  }  
 }

 .c-btn--fixed.fixed-position-con {
  position: absolute;  
  bottom: 28.2rem; 
  right: 0;
  @include sp {  
   right: 2rem;
   bottom: 30.9rem;
  }   
 }

 
.c-btn--plan {
  margin: 0;
  width: 21rem;
  height: 6rem; 
  @include sp {
   margin: 0 auto;
  }
}

.c-btn--plan:hover {
 border: 0.1rem solid transparent; // 枠線を透明に
    color: #fff;  // 元の色に戻す
    background-color: $color-red;  // 元の背景色に戻す
    cursor: default;  // カーソルをデフォルトに
}

.c-btn--plan::after {
 content: '+'; /* プラスマークを表示 */
 font-size: 3rem; /* プラスマークのサイズを指定 */
 font-weight: bold; /* 太さを指定 */
 position: absolute;
 top: 29%; /* 垂直中央に配置 */
 left: 48.7%; /* ボタンの右側に配置 */  
 width: 1.85rem; /* 幅を指定 */
 height: 1.85rem; /* 高さを指定 */  
 color: #000;
 @include sp {
  position: absolute;
  top: 38%;
  left: 46.7%;
 }
}

 .c-btn--contact-page {
  width: 25rem;
  height: 5rem;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: calc(33 / 25);  
  padding-top: 0.3rem;
  @include sp {
    // width: 33.5rem;
    width: 33.5rem;
    height: 5rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: calc(26 / 20);  
    padding-top: 0.2rem;
  }
  @include max(374px) {
    width: 33.5rem;
    height: 5rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: calc(26 / 20); 
  }
}

.c-btn--submit-button {
 width: inherit;
 height: inherit;
 display: block;
 // padding-top: 0.1rem;
 cursor: pointer;
 @include max(374px) {
  // padding-top: 0.2rem;
 }
}

