@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.c-section-title30 {
 margin: 0 auto;
 font-size: 3rem;
 font-weight: 600;
 line-height: calc(50 / 30);
 text-align: center;
 @include sp {
   font-size: 2.5rem;
   line-height: calc(40 / 25);
 }
}


.c-section-title25 {
 margin: 0 auto;
 font-size: 2.5rem;
 font-weight: 600;
 line-height: calc(40 / 25); 
 text-align: center;
}
