@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;


.p-blog-details-main__under-sns-links {
 @include sp {
  padding-bottom: 1rem;
 }
}

.p-blog-details-main__under-sns-links > p:nth-of-type(1) { 
 text-align: left; 
 margin-top: 4.8rem;
 @include sp {
  margin-top: 2.7rem;
 }
}

.p-blog-details-main__under-sns-links p:nth-of-type(2) { 
 text-align: left; 
 margin-top: 1.5rem; 
}

.p-blog-details-main__under-sns-links > p:last-of-type { 
 text-align: left; 
 margin-top: 2.6rem;
}

//クライアントが管理画面から新規にpタグを書いた場合、
//適切な余白が必要なため、共通スタイルを書いておく
.p-blog-details-main__under-sns-links p { 
 text-align: left; 
 margin-block: 1.5rem;
}

.p-blog-details-main__under-sns-links h2 {
 text-align: left;
 // margin-block: 3.3rem 1.5rem;
 margin-top: 3.3rem;
 margin-bottom: 1rem; 
 font-size: 2rem; 
 font-weight: bold;
 line-height: calc(40 / 20);
 @include sp {
  margin-block: 4.1rem 1.5rem;
  font-size: 2rem;   
  font-weight: bold;  
  line-height: calc(30 / 20);
 }
}

blockquote {
 background: rgb(232,232,232);
 //padding: 20px 30px 14px;
 padding: 0.1rem 3rem 0.1rem;
 margin-top: 1.2rem;
 margin-bottom: 1.2rem;
 p {
  text-align: left;
   font-size: 1.8rem;
   line-height:calc(30 / 18);
   background: rgb(232,232,232);   
   padding-left: 3.7rem;
   position: relative;
   &::before {
     content: url(../images/path42.svg);
     width: 2.7rem;
     position: absolute;
     left: 0;
   }
 }
 @include sp {
  background: rgb(232,232,232);
  //padding: 20px 30px 14px;
  padding: 0.1rem 3rem 0.1rem;
  margin-bottom: 2rem;
  p {
    font-size: 1.6rem;
    line-height: calc(30 / 16);
    background: rgb(232,232,232);
    padding-left: 3.7rem;
    position: relative;
    &::before {
      content: url(../images/path42.svg);
      width: 2.7rem;
      position: absolute;
      left: 0;
    }
  }
 }
}

// .c-article-details-body__head-small {
.p-blog-details-main__under-sns-links h3 {
 font-size: 2rem; 
 font-weight: bold;
 line-height: calc(40 / 20);
 margin-top: 4.2rem;
 margin-bottom: 1.3rem;
 padding-left: 1.1rem;
 padding-block: 0.2rem;
 position: relative;
 text-align: left;
 @include sp {
  font-size: 2rem;   
  font-weight: bold;  
  line-height: calc(30 / 20);
  margin-top: 4.8rem;
  margin-bottom: 1.5rem; 
 }
}

// .c-article-details-body__head-small ::before {
.p-blog-details-main__under-sns-links h3::before  {
 content: '';
 width: 0.3rem;
 height: 100%;
 background: #000;
 position: absolute;
 left: 0;
 top: 50%;
 transform: translateY(-50%);
}

// .c-article-details-body__img {
.p-blog-details-main__under-sns-links figure  {
  width: 30rem;  
  overflow: hidden;
  margin-top: 1.7rem;
  margin-bottom: 1.7rem;
  @include sp {
   width: 33.5rem;
   margin-block: 4rem 2.8rem;
  }
}

// .c-article-details-body__img img { ★★★
.p-blog-details-main__under-sns-links figure img {
  // height: auto;
  aspect-ratio: 300 / 200;
  object-fit: cover;
  @include sp {
   aspect-ratio: 335 / 200;
 }
}

.p-blog-details-main__under-sns-links ul, 
.p-blog-details-main__under-sns-links ol {  
  margin-top: 2.8rem;
  margin-bottom: 4.1rem;
  list-style: disc; /* 親要素にマーカーを指定し、li（子）の前に出現*/
  padding-left: 2rem;
  @include sp {
   margin-top: 2.7rem;
   margin-bottom: 3.7rem;
   padding-left: 2.2rem;
  }
}

// .c-article-details-body__list-item {
.p-blog-details-main__under-sns-links li  {
  font-size: 1.8rem;  
  line-height: calc(30 / 18); 
  text-align: left;  
  @include sp {
   font-size: 1.6rem;  
   line-height: calc(30 / 16); 
  }
}

// .c-article-details-body__link-text {
 .p-blog-details-main__under-sns-links a {  
  font-size: 2rem;
  font-weight: bold;
  line-height: calc(33 / 20);
  color: $color-red;
  text-decoration-line: underline;
 }
 
 // .c-article-details-body__border {
 .p-blog-details-main__under-sns-links hr  {
  border-top: 0.05rem solid; 
  margin-block: 4rem;
  @include sp {
   margin-top: 3rem;
  }
 }

.p-blog-details-main__under-sns-links p a:last-child {
 transition: opacity .4s;
}

.p-blog-details-main__under-sns-links p a:last-child:hover {
 opacity: 0.5;
}
