@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;


.p-blog-details-main__under-sns-links {
 padding-top: 0.4rem;
}

.p-blog-details-main__under-sns-links--notice {
 margin-bottom: 0;
}

// .c-article-details-body__text {
.p-blog-details-main__under-sns-links p {
 font-size: 1.8rem;
 line-height: 1.6;
 text-align: left;
}

// .c-article-details-body__head-middle {
.p-blog-details-main__under-sns-links h2 {
 font-size: 2rem;
 // margin-top: 43px;
 // margin-block: 42px 20px;
 margin-block: 4.2rem 2rem;
 text-align: left;
 background-color: yellow;
}



// .c-article-details-body__head-small {
.p-blog-details-main__under-sns-links h3 {
 font-size: 2rem;
 margin-top: 5rem;
 margin-bottom: 1.8rem;
 padding-left: 1.1rem;
 position: relative;
 text-align: left;
}

// .c-article-details-body__head-small ::before {
.p-blog-details-main__under-sns-links h3::before  {
 content: '';
 width: 0.3rem;
 height: 100%;
 background: #000;
 position: absolute;
 left: 0;
 top: 50%;
 transform: translateY(-50%);
}

// .c-article-details-body__img {
.p-blog-details-main__under-sns-links figure   {
  width: 100%;
 height: 100%;
 max-width: 30rem;
 max-height: 20rem;
 overflow: hidden;
 margin-block: 1.7rem 3rem;
}

// .c-article-details-body__img img { ★★★
.p-blog-details-main__under-sns-links figure img {
  height: auto;
}

// .c-article-details-body__list {
// .p-blog-details-main__under-sns-links ul,ol  {
//  background-color: yellow;
//  margin-bottom: 44px;
//  list-style: disc;
// }
// .p-blog-details-main__under-sns-links ul {
//  background-color: aqua;
// }

.p-blog-details-main__under-sns-links ul, 
.p-blog-details-main__under-sns-links ol {    
  margin-bottom: 4.1rem;
  list-style: disc; /* 親要素にマーカーを指定し、li（子）の前に出現*/
  padding-left: 2rem;
}

// .c-article-details-body__list-item {
.p-blog-details-main__under-sns-links li  {
  font-size: 1.8rem;
  line-height: 1.6;
  text-align: left;  
}

/* マーカーのスタイルをカスタマイズ */
// .p-blog-details-main__under-sns-links li::marker {
//  content: '•'; /* カスタムマーカー */
//  color: red; /* マーカーの色を赤にする */
//  font-size: 1.8rem; /* マーカーのサイズを変更 */
//  position: absolute;
//  left: 5px;
// }

// .c-article-details-body__blockquote {
// .p-blog-details-main__under-sns-links blockquote {
//  background: rgb(232, 232, 232);
//  display: flex;
//  padding: 20px 30px;
//  margin-bottom: 20px;
// }

blockquote {
 background: rgb(232,232,232);
 // padding: 20px 30px 9px;
 padding: 2rem 3rem 0.9rem;
 margin-bottom: 3rem;
 p {
   font-size: 1.8rem;
   line-height: 1.6;
   background: rgb(232,232,232);
   margin-bottom: 0;
   padding-left: 3.7rem;
   position: relative;
   &::before {
     content: url(../images/path42.svg);
     width: 2.7rem;
     position: absolute;
     left: 0;
   }
 }
}

// // .c-article-details-body__blockquote-icon {
// .p-blog-details-main__under-sns-links blockquote::before  {
//  width: 27px;
//  flex-shrink: 0;
//  margin-right: 10px;
// }

// .c-article-details-body__link-text {
.p-blog-details-main__under-sns-links a {
 font-size: 2rem;
 font-weight: bold;
 color: rgb(203, 0, 0);
}

// .c-article-details-body__border {
.p-blog-details-main__under-sns-links hr  {
 border-top: 0.05rem solid;
 border-bottom: none;
}

