@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;



.p-blog-details-main {
 width: 60rem;
 position: relative;
 @include sp {
  width: 100%;
 }
}

.p-blog-details-main__01-image {
 width: 100%;
}

.p-blog-details-main__01-title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: calc(40 / 25);
  text-align: left;
  padding-block: 4.6rem 0.5rem;
  @include sp {
    font-size: 2rem;
    line-height: calc(30 / 20);
    padding-block: 3rem 0.5rem;
  }
}

.p-blog-details-main__date {
 display: flex;
 justify-content: left;
 font-size: 1.7rem;
 line-height: calc(30 / 17);
 text-align: left;
 @include sp {
  text-align: right;
 }
}

.p-blog-details-main__sns-links {
 margin-block: 2.1rem 4.8rem; 
 display: flex;
 width: 47.1rem;
 column-gap: 0.3rem;
 @include sp {
  width: 100%;
  margin-block: 2.1rem 2.7rem;
 }
}

.p-blog-details-main__sns-link {
 transition: opacity .4s;
}

.p-blog-details-main__sns-link--fb {
 width: 10.5rem;
}

.p-blog-details-main__sns-link--tw {
 width: 8.8rem;
}

.p-blog-details-main__sns-link--hatena {
 width: 9.3rem;
}

.p-blog-details-main__sns-link--line {
 width: 8.1rem;
}

.p-blog-details-main__sns-link--pocket {
 width: 9.1rem;
}

.p-blog-details-main__01-text {
 height: 15rem;
 font-size: 1.8rem;
 line-height: calc(30 / 18); 
 text-align: left;
 @include sp {
  font-size: 1.6rem;
  line-height: calc(30 / 16);  
 }
}

.p-blog-details-main__02-title {
font-size: 2rem;
font-weight: 600;
line-height: calc(40 / 20);
text-align: left;
padding-block: 3.3rem 1.5rem;
@include sp {
font-size: 2rem;
line-height: calc(30 / 20);
 padding-block: 3.9rem 1.7rem;
}
}

.p-blog-details-main__02-text { 
  height: 9rem;
  font-size: 1.8rem;
  line-height: calc(30 / 18); 
  text-align: left;
  @include sp { 
   height: 15rem;
   font-size: 1.6rem;
   line-height: calc(30 / 16);  
  }
}

.p-blog-details-main__02-image {
 width: 30rem;
 padding-block: 1.7rem 2.8rem;
 @include sp {
  width: 100%;
   padding-block: 3.9rem 2.6rem;
 }
}

.p-blog-details-main__02-lists li {
 font-size: 1.8rem;
 line-height: calc(30 / 18);
 text-align: left;
 @include sp {
  font-size: 1.6rem;
  line-height: calc(30 / 16);  
 }
}

.p-blog-details-main__line {
 display: block;
 background-color: #000;
 width: 100%;
 height: 0.05rem;
 margin-block: 4.2rem 4.3rem;
 @include sp {
  margin-block: 3.9rem  5rem;
 }
}

.p-blog-details-main__03-title {
 display: flex;
 align-items: center; 
 padding-left: 0.95rem;  
 border-left: 0.3rem solid #000; /* 左側に縦線を表示 */
 font-size: 2rem;
 font-weight: 600;
 line-height: calc(40 / 20);
 text-align: left;
 @include sp {
   font-size: 2rem;
   font-weight: 600;
   line-height: calc(30 / 20);
 }
}

.p-blog-details-main__03-text-box {
 width: 100%; 
 background-color: #E8E8E8;
 // padding-top: 2px;
 display: flex;
 margin-block: 1.7rem 2.7rem;
 // padding-block: 19px 9px;
 padding-block: 1.9rem 0.9rem;
 @include sp {
  margin-block: 1.95rem 2.7rem;
  //padding-block: 19px 9px;
  padding-block: 1.6rem 0.9rem;
 }
}

.p-blog-details-main__03-text-box-image {
 width: 2.7rem; 
 margin-inline: 3rem 1rem; 
 @include sp {
  margin-inline: 2.5rem 1.7rem;
 }
}

.p-blog-details-main__03-text-box-text {
  width: 50.3rem;
  height: 9rem;
  font-size: 1.8rem;
  line-height: calc(30 / 18);
  text-align: left;  
  display: flex;
  align-items: center;  
  @include sp {
   width: 24.5rem;
   height: 18rem;
   font-size: 1.6rem;
   line-height: calc(30 / 16);
   
  }
}

.p-blog-details-main__link-wrap {
text-align: left;
}

.p-blog-details-main__link {
 width: 14rem;
 color: $color-red;
 font-size: 2rem;
 font-weight: 600;
 line-height: calc(33 / 20);
 border-bottom: 0.05rem solid; 
 transition: opacity .4s;
 position: relative;
}

.p-blog-details-main__articles {
 margin-block: 5.5rem 10rem;
 display: flex;
 justify-content: space-between;
 column-gap: 8rem;
 @include sp {
  margin-block: 4.7rem 7rem;
  column-gap: 2.2rem;
 }
}

.p-blog-details-main__article {
 width: 26rem;
 height: 12rem;
 display: flex;
 flex-direction: column;
 row-gap: 1.6rem;
 transition: opacity .4s;
 @include sp {
  width: 15.6rem;
 }
}

.p-blog-details-main__article-item-01 {
 background-color: #000;
 height: 3.7rem; 
}

.p-blog-details-main__pre-article {
 color: #fff;
 font-size: 1.7rem;
 line-height: calc(30 / 17);
 text-align: left;
 padding: 0.45rem 2rem;
}

.p-blog-details-main__next-article {
 color: #fff;
 font-size: 1.7rem;
 line-height: calc(30 / 17);
 text-align: right;
 padding: 0.45rem 2rem;
}

.p-blog-details-main__article-item-02 {
 display: flex;
 column-gap: 1.6rem;
 @include sp {
  display: block;
 }
}

.p-blog-details-main__article-image {
 width: 9.8rem;
}

.p-blog-details-main__article-title {
 font-size: 1.6rem;
 font-weight: 600;
 line-height: calc(25 / 16);
 text-align: left;
}

.p-blog-details-main-related-articles {
 width: 100%;
 padding-bottom: 3rem;
}

.p-blog-details-main-related-articles__label {
  width: 100%;
  height: 5rem;
  background-color: #000;
  // display: flex;
  // align-items: center;
}

.p-blog-details-main-related-articles__label p {
 color: #fff;
 font-size: 1.8rem;
 line-height: calc(33 / 18);
 text-align: left;
 padding-block: 1rem;
 padding-left: 3rem;
 @include sp {
  text-align: center;
  padding-left:0;
 }
}

.p-blog-details-main-related-article__list {
 display: flex;
 justify-content: space-between;
 column-gap: 3rem;
 margin-top: 3rem;
 transition: opacity .4s;
 position: relative;
 @include sp {
  column-gap: 2rem;
  margin-top: 2rem;
 }
}

.p-blog-details-main-related-article__image {
 width: 20rem;
 @include sp {
  width: 16rem;
 }
}

.p-blog-details-main-related-article__text p {
  height: 5rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: calc(25 / 20);
  text-align: left;
  margin-bottom: 1.3rem;
  @include sp {
    height: 5.6rem;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: calc(28 / 17);
    text-align: left;
    margin-block: 0.9rem 0.4rem;
  }
}

.p-blog-details__sns-link:hover,
.p-blog-details-main__link:hover,
.p-blog-details-main__article:hover,
.p-blog-details-main-related-article__list:hover,
.p-sidebar-mail__banner:hover,
.p-sidebar-reco-articles__list:hover,
.p-sidebar-category__name:hover {
 opacity: 0.5;
}



// サイドバー

.p-sidebar {
 width: 25rem;
 // background-color: rgb(123, 95, 160); 
 display: flex;
 flex-direction: column;
 row-gap: 3.1rem;
 @include sp {
   width: 33.5rem;
 }
}

.p-sidebar-mail {
  height: 25rem;
  border: 0.05rem solid #000;
  @include sp {
    height: 31.8rem;
  }
} 

.p-sidebar__title {
 background-color: #000;
 height: 5rem;
 display: grid;         
 place-content: center; 
}

.p-sidebar__title h3 {
 color: #fff;
 font-size: 1.8rem;
 font-weight: 600;
 line-height: calc(33 / 18); 
}

.p-sidebar-mail__banner {
 background-color: #E8E8E8;
 width: 22rem;
 height: 17rem; 
 margin: 1.5rem;
 display: grid;         
 place-content: center; 
 transition: opacity .4s;
 @include sp {
  width: 29.5rem;
  height: 22.8rem; 
  margin: 2rem;
 }
}

.p-sidebar-mail__banner p {
 color: #000;
 font-size: 1.8rem;
 font-weight: 600;
 line-height: calc(33 / 18); 
}

.p-sidebar__blog-search {
 height: 12rem;
 border: 0.05rem solid #000;
 @include sp {
  height: 14.3rem;
 }
}

.search-box {
 background-color: #E8E8E8;
 width: 22rem;
 height: 4rem;
 margin: 1.5rem;
 display: flex; 
 @include sp {
  width: 29.5rem;
  height: 5.4rem;
  margin: 2rem;
 }
}

.search-input {
 width: 18rem;
  @include sp {
    width: 24.1rem;
  }
}

.p-sidebar-blog-search__btn-bg {
  background-color: #000;
  width: 4rem;
  display: grid;
  place-content: center;
    @include sp {
     width: 5.4rem;
    }
}

.search-button {
  width: 2.1rem;
  height: 2.3rem;
  @include sp {
    width: 2.7rem;
    height: 3.1rem;
  }
}

.p-sidebar__reco-articles {
 display: flex;
 flex-direction: column;
 row-gap: 1.5rem;
 @include sp {
  row-gap: 2rem;
 }
}

.p-sidebar-reco-articles__list {
 height: 7.5rem;
 display: flex;
 column-gap: 1.5rem;
 transition: opacity .4s;
 @include sp {
  height: 11rem;
  column-gap: 2rem;
 }
}

.p-sidebar-reco-articles__image {
 background-color: #E8E8E8;
 width: 9.5rem;
 height: 7.5rem; 
 @include sp {
  width: 16rem;
  height: 11rem; 
 }
}

.p-sidebar-reco-articles__title p {
 font-size: 1.7rem;
 line-height: calc(28 / 17);
 text-align: left;
 @include sp {
  margin-block: 0.9rem 4.5rem;
 }
}



.p-sidebar-category__name {
 height: 4.6rem;
 border-bottom: 0.05rem solid;
 display: flex;
 align-items: center;
 padding-top: 0.3rem;
 font-size: 1.7rem;
 line-height: calc(28 / 17);
 text-align: left;
 transition: opacity .4s;
}