@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;


.p-blog-details-main-related-articles {
 width: 100%;
 padding-bottom: 3rem;
}

.p-blog-details-main-related-articles__label {
  width: 100%;
  // height: 5rem;
  background-color: #000;
  // display: flex;
  // align-items: center;
}

.p-blog-details-main-related-articles__label p {
 color: #fff;
 font-size: 1.8rem;
 line-height: calc(33 / 18);
 text-align: left;
 padding-block: 1rem 0.8rem;
 padding-left: 3rem;
 @include sp {
  text-align: center;
  padding-left:0;
 }
}

.p-blog-details-main-related-article__list {
 display: flex;
 justify-content: space-between;
 column-gap: 3rem;
 margin-top: 3rem;
 transition: opacity .4s;
 position: relative;
 cursor: pointer;
 @include sp {
  column-gap: 2rem;
  margin-top: 2.2rem;
 }
}

.p-blog-details-main-related-article__list:hover {
 opacity: 0.5;
}

.p-blog-details-main-related-article__image {
  width: 20rem;
  overflow: hidden;
  @include sp {
    width: 16rem;    
  }
}

.p-blog-details-main-related-article__image img {
  aspect-ratio: 200 / 140;
  object-fit: cover;
  @include sp {
   aspect-ratio: 160 / 110;
  }
}

.p-blog-details-main-related-article__text p {
  font-size: 2rem;
  font-weight: 600;
  line-height: calc(25 / 20);
  text-align: left;
  margin-bottom: 1.4rem;
  @include sp {
    // height: 5.6rem;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: calc(28 / 17);
    text-align: left;
    margin-block: 0.9rem 0.4rem;
  }
}

