@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;


.p-footer-nav {
 height: 3.3rem;
 display: flex;
 justify-content: center;
 @include sp {
  // width: 29rem;
 }
}

.p-footer-nav__lists {
 height: 3.3rem;
 display: flex;
 @include sp {
  // width: 29rem;
 }
}

.p-footer-nav__list a {
  padding: 1.2rem 1.6rem ;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: calc(33 / 17);
  transition: opacity .4s;
  @include sp {
   padding: 1.2rem 1.5rem;
  }
}

.p-footer-nav__list a:hover {
  opacity: 0.5;
}

