@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;


.p-footer__inner {
 padding-block: 4.6rem 5rem;
 color: #fff; 
}

.p-footer__logo a {
  display: block;
  width: 7.2rem; 
  padding: 1.5rem 2rem;
  margin: 0.6rem auto; 
  transition: opacity .4s;
  @include sp {
    // padding: 1.2rem 2rem 12px;
    padding: 1.2rem 2rem 1.2rem;
    // margin: 0.6rem auto 18px; 
    margin: 0.6rem auto 1.8rem; 
  }
  }

.p-footer__logo img {
 aspect-ratio: 32 / 49;
}


.p-footer__logo a:hover {
 opacity: 0.5; 
}

.p-footer__copyright {
 width: 100%;
 font-size: 1.5rem;
  line-height: calc(33 / 15);
  // letter-spacing: -0.03em;
  margin-inline: auto;
  text-align: center;
  @include sp {
    // width: 30rem;
    font-size: 1.5rem;
    line-height: calc(20 / 15);    
    letter-spacing: -0.02em;
  }
}

.p-footer__icon-wrap { 
 // background-color: yellow;
 // height: 2.3rem;
 display: flex;
 justify-content: center;
 align-items: center;  
 @include sp {
  margin-top: 1.3rem;   
 }
}

.p-footer__icon-wrap li { 
 display: flex;
 align-items: center; 
}

.p-footer__icon-wrap a  {
 display: inline-block; /* インライン要素だとtransformが効かないため、ブロックかインラインブロックに */
 width: 3.5rem;
 padding: 0 0.6rem 0.6rem 0.6rem;
 // background-color: aqua;
 transition: opacity 0.3s ease, transform 0.3s ease; /* opacityとtransformに対してトランジションを適用 */
}

.p-footer__icon-wrap a:hover {
 opacity: 0.5;
 transform: scale(1.2);
}

