@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.p-header {   
 width: 100%;
 padding-inline: 10rem;
 height: 8rem; 
 display: flex;
 justify-content: space-between;
 @include sp {
   height: 5rem;
   padding: 0;
   padding-left: 2rem;
 }  
}

.p-header__logo {
 height: inherit;    
 display: flex;
 align-items: center;
}

.p-header__right {
  height: inherit;
  display: flex;
  align-items: center;
 }


 .p-header__contact {
   width: 15rem;
   height: 4.5rem;   
   font-size: 1.5rem;      
   line-height: calc(33 / 15); 
   padding-top: 0.1rem;  
   margin-left: 3.3rem;  
 }
