@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;
// @use '../../foundation/base' as *;

.p-header-nav { 
  height: inherit;     
  display: flex;
  // transition: all 0.5s ease;
  @include sp {
  display: block;      
   width: 30rem;
   position: fixed;
   top: 5rem;
   right: -120%;      
   transition: right 0.5s ease;
  }
 }
 
 .p-header-nav.active {
  right: 0;
 }
 
 .p-header-nav__lists  {
  height: inherit;
  display: flex;
  column-gap: 3.3rem; 
  @include sp {
   height: 17.4rem;
   flex-direction: column;
  }
 }
 
 .p-header-nav__list  {      
  height: inherit; 
  @include sp {
    height: 5.8rem;
  }
 }
 
 .p-header-nav__list a {  
  height: inherit;
  display: flex;
  align-items: center;   
  padding-top: 0.3rem;   
  font-size: 1.7rem;
  font-weight: 600;
  line-height: calc(33 / 17);
  transition: opacity .4s;
  position: relative;
  @include sp {
    width: 100%;    
    padding-top: 0.3rem;   
    padding-left: 2rem;    
    font-size: 1.8rem;   
    line-height: calc(33 / 18);
    background-color: $color-red; 
    color: #fff;         
  }
 }
 
 .p-header-nav__list a::before {
  @include pc { //spのナビメニューにも下線が走ってしまうのでpcに限定する
    content: '';
    width: 100%;
    height: hvw(2);
    background: #000;
    position: absolute;
    left: 0;
    bottom: hvw(25);
    transform: scaleX(0);
    transition: transform .4s;
    transform-origin: left center; 
    // ↑ leftは横の変形起点（左から右に動く）
    //   centerは縦の変形起点（だけど今回はなくても動く）
  }
 }
 
 .p-header-nav__list a:hover {
  @include pc {
   opacity: 0.5;
  }
  @include sp {
   background-color: #000;   
  }  
 }

  .p-header-nav__list a:hover::before {
   transform: scaleX(1);
 }      
 
 
