@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;


.p-message__inner { 
 display: flex;
 flex-direction: column; 
 row-gap: 3rem;
 padding-block: 6.8rem 6.2rem; 
 @include sp {  
   row-gap: 1.5rem;
   padding-block: 4.9rem 3.9rem; 
 }
}

.p-message__title {
  color: #fff;
}

.p-message__text {
 text-align: center;
  color: #fff;
  font-size: 1.8rem;  
  line-height: calc(30 / 18);
  // padding-block: 3rem 6.3rem;
  @include sp {
   font-size: 1.8rem;
   line-height: calc(30 / 18);  
   // padding-block: 1.4rem 4rem;
  }
}
