@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.p-qa__inner { 
 padding-top: 5.5rem; 
}

.p-qa__lists {  
 margin-top: 3.3rem;
 border-top: solid 0.05rem #000; 
 @include sp {
  margin-top: 4rem;

 }
}

.p-qa__list {   
 border-bottom: solid 0.05rem;
 @include sp {
   font-size: 1.6rem;
   line-height: calc(30 / 16);
 }
}

