@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;


.p-result-list__inner {
  padding-block: 6.7rem 21rem;
  @include sp {  
   padding-block: 4.6rem 19.6rem;    
  }
}

.p-result-list__lists {  
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
 gap: 6.1rem 12%;
 padding-block: 3.8rem 5.8rem;
 @include sp {
   display: flex;
   flex-direction: column;
   row-gap:  4.1rem;  
   padding-block: 4.9rem 6rem; 
 }
}

.p-result-list__list {
 width: 38.7rem;
 position: relative; 
 transition: opacity .4s;
 @include sp {
   width: 100%;  
 }
}

.p-result-list__list:hover {
 opacity: 0.5;
}

.p-result-list-list__image {
  width: 38.7rem;  
  overflow: hidden;
  @include sp {
    width: 33.5rem;
  }
}

.p-result-list-list__image img {
  aspect-ratio: 387 / 273;    
  object-fit: cover;
  @include sp {
   aspect-ratio: 335 / 236;    
  }
}

.p-result-list-list__title--pad20 {
 font-size: 2rem;
 font-weight: 600;
 line-height: calc(25 / 20);
 text-align: left;
 padding-block: 2rem 1rem;
}

.p-result-list-list__title {
 font-size: 2rem;
 font-weight: 600;
 line-height: calc(25 / 20);
 text-align: left;
 padding-block: 3rem 1rem;
 @include sp {
  padding-block: 2rem 1rem;
 }
}

.p-result-list-list__time {
 font-size: 1.8rem; 
 line-height: calc(32 / 18);
 display: flex;
 justify-content: flex-end;
}

