@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;


.p-result-details-table__label-01 {
 background-color: #E5E5E5;
 width: 14rem; 
 border-right: 0.05rem solid #707070; 
 border-bottom: 0.05rem solid #707070; 
 text-align: left;
 font-size: 1.8rem;
 font-weight: 600;
 line-height: calc(30 / 18);
 padding-left: 2rem;
 // padding-block: 5.5px 2px;
 padding-block: 0.55rem 0.2rem;
 @include sp {
   width: 12rem;   
   padding-left: 1rem;
 }
}

.p-result-details-table__label-02 {
 font-size: 1.8rem;
 line-height: calc(30 / 18); 
 border-bottom: 0.05rem solid #707070; 
 text-align: left;
 padding-left: 2rem; 
 //padding-block: 3px 0px;
 padding-block: 0.3rem 0;
 @include sp {
  padding-left: 1rem;
 }
}











