@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;



.p-reason-content-textarea__title {
 border-bottom: 0.2rem solid $color-red;
}

.p-reason-content-textarea__title h2 {
 padding: 0.6rem 5rem 1.2rem;
 font-size: 2.2rem;
 font-weight: 600;
 line-height: calc(33 / 22);
 text-align: left;
 @include sp {
  padding: 3rem 0 0.8rem;  
  font-size: 2rem;
  line-height: calc(30 / 20);  
 }
}

.p-reason-content-textarea__text {
 padding: 3.4rem 0 0 5rem;
  font-size: 1.8rem;
 line-height: calc(33 / 18);
 text-align: left;
 @include sp {
  padding: 1.7rem 0 0 0;
  font-size: 1.6rem;
  line-height: calc(30 / 16);
 }
}
 
