@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;


.p-reason__inner { 
 padding-block: 6.4rem 7rem;
 @include sp {
  padding-block: 4.9rem 3.9rem;
 }
}

.p-reason__title {
 text-align: center; 
 font-weight: 600; 
}

.p-reason__contents {
 padding-top: 2.8rem;
 display: flex;
 flex-direction: column;
 row-gap: 5rem;
 @include sp {
  padding-top: 3.5rem;
  row-gap: 3.9rem;
 }
}

.p-reason__content {
 display: flex; 
 @include sp {
  display: block;
 }
}

.p-reason-content__image {
 //width: calc(350 / 1080 * 100vw);
 width: 35rem;
 @include sp {
  width: 33.5rem;
 }
}

.p-reason-content__textarea {
 width: 53rem;
 @include sp {
   width: 100%;
 }
}

.p-reason-content-textarea__title {
 border-bottom: 0.1rem solid $color-red; 
}

.p-reason-content-textarea__title h2 {
 padding: 0.6rem 5rem 1.2rem;
 font-size: 2.2rem;
 line-height: calc(33 / 22); 
 @include sp {
  padding: 3rem 0 1rem;  
  font-size: 2rem;
  line-height: calc(30 / 20);
 }
}

.p-reason-content-textarea__text {
 padding: 3.4rem 0 0 5rem;
  font-size: 1.8rem;
 line-height: calc(33 / 18);
 @include sp {
  padding: 1.7rem 0 0 0;
  font-size: 1.6rem;
  line-height: calc(30 / 16);
 }
}
 
