@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;


.p-sidebar-blog-search {
 // height: 12rem;
 border: 0.05rem solid #000;
 @include sp {
  height: 14.3rem;
 }
}

.p-sidebar-blog-search__box {
 background-color: #E8E8E8;
 width: 22rem;
 height: 4rem;
 margin: 1.5rem;
 display: flex;
 @include sp {
  width: 29.5rem;
  height: 5.4rem;
  margin: 2rem;
 }
}

.p-sidebar-blog-search__input {
  width: 18rem;
  text-align: left;  
  padding: 1.1rem 1rem 0.9rem 1rem;
  @include sp {
    width: 24.1rem;
  }
}

.p-sidebar-blog-search__btn-bg {
  background-color: #000;
  width: 4rem;    
  display: grid;
  place-content: center;  
  @include sp {
    width: 5.4rem;
  }
}

.p-sidebar-blog__search-button {
  width: 2.1rem;
  height: 2.3rem;
  margin: 0.3rem 0 0 0.2rem;  
  transition: opacity .4s;
  cursor: pointer;
  @include sp {
    width: 2.7rem;
    height: 3.1rem;
  }
}

.p-sidebar-blog__search-button:hover {
 opacity: 0.5;
}
