@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.p-sidebar-category__name  { 
 border-bottom: 0.05rem solid; 
}

.p-sidebar-category__name a {
 // height: 4.6rem; 
 display: flex;
 align-items: center;
 padding-block: 1.2rem 0.7rem;
 font-size: 1.7rem;
 line-height: calc(28 / 17);
 text-align: left;
 transition: opacity .4s;
}

.p-sidebar-category__name a:hover {
 opacity: 0.5;
}

