@use '../foundation/variable' as *;
@use '../foundation/mixin' as *;

/*------------------------------------------------
 l-header
-------------------------------------------------*/

.l-header {  
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 100;
}

